{% extends "base.html" %}

{% block content %}
    <h1>Your Statistics:</h1>
    <table class="table">
        <thead>
            <td>Id</td>
            <td>Filename</td>
            <td>Animal</td>
            <td>Prediction</td>
            <td>Datetime</td>
        </thead>
        
        {% for stat in stats %}
            <tr>
            <td>{{stat[0]}}</td>
            <td>{{stat[2]}}</td>
            <td>{{stat[3]}}</td>
            <td>{{stat[4]}}</td>
            <td>{{stat[5]}}</td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}