{% extends "base.html" %}

{% block content %}
    <h1>Users</h1>
    <table class="table">
        <thead>
            <td>Id</td>
            <td>Username</td>
            <td>Password</td>
            <td>Admin</td>
        </thead>
        
        {% for user in users %}
            <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
            </tr>
        {% endfor %}
        </table>

    <h1>
        Add user
    </h1>
    <form method=post action="/addUser">
        Username: <input type=text name=login required>
        Password: <input type=text name=password required>
        Admin: <input type="checkbox" name="admin">
        <input type="submit" class="btn btn-primary" value="submit">
    </form>
{% endblock %}